.Homeoptions {
    display: flex;
    justify-content: center;
}

.option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 50%;
}

.items {
    padding: 10px 4rem 10px;
    font-size: 1rem;
    background-color: rgb(197, 197, 239);
    border: 1px solid black;
}

.items:hover {
    background-color: rgb(58, 95, 243);
    cursor: pointer;
}